//variables
$flex-sidebar-width: 300px;
$flex-sidebarCollapsed-width: 60px;
$flex-media-breakpoint-m: 1440px;
$flex-media-breakpoint-s: 1024px;
$flex-button-padding: 15px;
$flex-button-height: $flex-button-padding * 2;
//wrapper
.flex-layout-wrapper {
  height: 100%;
  overflow: hidden;
}

//sidebar
.flex-layout-sidebar {
  width: $flex-sidebar-width;
  height: 100%;
  position: absolute;
  top: 0;
  vertical-align: top;
  z-index: 1;
  box-shadow: 0 0 2px rgba(111, 124, 145, 0.58);
  transition: width 0.3s;
  transform: translateZ(0);
  @media (max-width: $flex-media-breakpoint-m) {
    width: $flex-sidebarCollapsed-width;
    .flex-layout-uncollapse>& {
      width: $flex-sidebar-width;
    }
  }
  @media (max-width: $flex-media-breakpoint-m) and (min-width: $flex-media-breakpoint-s + 1px) {
    &:hover {
      width: $flex-sidebar-width;
    }
  }
}

//sidebar content
.flex-layout-sidebar-content {
  overflow: hidden;
  height: 100%;
  @media (max-width: $flex-media-breakpoint-m) {
    height: calc(100% - #{$flex-button-height});
  }
}

// sidebar footer
.flex-layout-sidebar-footer {
  display: none;
  box-shadow: 0 0 2px rgba(111, 124, 145, 0.58);
  @media (max-width: $flex-media-breakpoint-m) {
    display: block;
  }
}

//sidebar footer btn
.flex-layout-sidebar-footer-btn {
  width: 100%;
  height: $flex-button-height;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  line-height: $flex-button-height;
  text-decoration: none;
  color: #000;
  padding: 0 $flex-button-padding;
  box-sizing: border-box;
  .flex-layout-left>.flex-layout-sidebar & {
    text-align: right;
    &:before {
      content: "\f054";
    }
  }
  .flex-layout-uncollapse.flex-layout-left>.flex-layout-sidebar & {
    &:before {
      content: "\f053";
    }
  }
}

//content
.flex-layout-content {
  width: calc(100% - #{$flex-sidebar-width});
  height: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  transition: transform 0.5s;
  transform: translateZ(0);
  .flex-layout-left>& {
    transform: translateX($flex-sidebar-width);
  }
  @media (max-width: $flex-media-breakpoint-m) {
    width: calc(100% - #{$flex-sidebarCollapsed-width});
    .flex-layout-left>& {
      transform: translateX($flex-sidebarCollapsed-width);
    }
  }
  @media (max-width: $flex-media-breakpoint-m) and (min-width: $flex-media-breakpoint-s + 1px) {
    .flex-layout-uncollapse>& {
      width: calc(100% - #{$flex-sidebar-width});
    }
    .flex-layout-uncollapse.flex-layout-left>& {
      transform: translateX($flex-sidebar-width);
    }
  }
}