<fsl-flexible-sidebar-layout>
  <div class="page-sidebar">
    <ul>
      <li>
        <span>Test 1</span>
      </li>
      <li>
        <span>Test 2</span>
      </li>
      <li>
        <span>Test 3</span>
      </li>
      <li>
        <span>Test 4</span>
      </li>
    </ul>
  </div>
  <div class="page-wrapper">
    <div class="page-header">
      <a href="#" class="flex-layout-header-button" (click)="toggleSidebar($event)"></a>
      <h1>Title</h1>
    </div>
    <div class="page-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis fugit tenetur velit totam? Est porro ratione cupiditate magnam inventore, eius harum, architecto dicta molestias accusamus libero illo saepe perspiciatis.</p>
    </div>
  </div>
</fsl-flexible-sidebar-layout>