<app-flexible-sidebar-layout>
  <div class="page-sidebar">
    <ul class="page-nav">
      <li>
        <i class="fa fa-address-book" aria-hidden="true"></i><span>Address book</span>
      </li>
      <li>
        <i class="fa fa-id-card-o" aria-hidden="true"></i><span>Drivers license</span>
      </li>
      <li>
        <i class="fa fa-id-badge" aria-hidden="true"></i><span>Badge</span>
      </li>
      <li>
        <i class="fa fa-id-card-o" aria-hidden="true"></i><span>ID card</span>
      </li>
    </ul>
  </div>
  <div class="page-wrapper">
    <div class="page-header">
      <h1>Header section</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quidem eos, ad iure pariatur qui deserunt sint tempore voluptates sapiente quae, repellendus molestiae numquam aperiam laborum sunt? Architecto, hic blanditiis.</p>
    </div>
    <div class="page-content">
      <h2>Content section</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis fugit tenetur velit totam? Est porro ratione cupiditate magnam inventore, eius harum, architecto dicta molestias accusamus libero illo saepe perspiciatis.</p>
    </div>
  </div>
</app-flexible-sidebar-layout>